# Git
.git
.gitignore

# IDE
.idea
.vscode
*.iml

# Maven
target/
!target/dump-truck-services-0.0.1-SNAPSHOT.jar

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Documentation
README.md
*.md

# Docker
Dockerfile*
docker-compose*
.dockerignore 