# Database Configuration
DATABASE_URL=jdbc:mysql://localhost:3306/dump_truck_db?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true
DATABASE_USERNAME=root
DATABASE_PASSWORD=1234

# Email Configuration
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=587
MAIL_USERNAME=8db010002@smtp-brevo.com
MAIL_PASSWORD=0nrsm7pxRv5f3zCU

# Application Configuration
APP_EMAIL_FROM=anikejov003@gmail.com
APP_URL=http://localhost:8080

# Server Configuration
PORT=8080

# Spring Profile
SPRING_PROFILES_ACTIVE=dev 